<div class="p-4 max-w-md mx-auto">
  <h2 class="text-2xl font-semibold mb-4">Resend Confirmation Instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class: "form-input w-full px-3 py-2 rounded-md border border-gray-300 placeholder-gray-500 focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="mb-6">
      <%= f.submit "Resend Confirmation Instructions", class: "bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
