<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employee.phone_number %>
  </p>

  <p>
    <strong>Hire date:</strong>
    <%= employee.hire_date %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

  <p>
    <strong>Job position:</strong>
    <%= employee.job_position_id %>
  </p>

</div>
