<div id="<%= dom_id leave %>">
  <p>
    <strong>Start date:</strong>
    <%= leave.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= leave.end_date %>
  </p>

  <p>
    <strong>Leave type:</strong>
    <%= leave.leave_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= leave.status %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= leave.employee_id %>
  </p>

</div>
