<%= form_with(model: salary) do |form| %>
  <% if salary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
        <% salary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :effective_date, style: "display: block" %>
    <%= form.date_field :effective_date %>
  </div>

  <div>
    <%= form.label :frequency, style: "display: block" %>
    <%= form.text_field :frequency %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
