<div id="<%= dom_id salary %>">
  <p>
    <strong>Employee:</strong>
    <%= salary.employee_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= salary.amount %>
  </p>

  <p>
    <strong>Effective date:</strong>
    <%= salary.effective_date %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= salary.frequency %>
  </p>

</div>
