<div id="<%= dom_id attendance %>">
  <p>
    <strong>Check in:</strong>
    <%= attendance.check_in %>
  </p>

  <p>
    <strong>Check out:</strong>
    <%= attendance.check_out %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= attendance.date %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= attendance.employee_id %>
  </p>

</div>
